.login,.register{
    padding: 20px 0;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, rgba(69,123,157,1) 20%, rgba(40,171,185,1) 80%);
}

.form-card{
    width: 400px;
    height: 500px;

    border: solid #1D3557;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-card__item{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.form-card__item input{
    width: 300px;
    height: 40px;
    
    outline: none;
    border: solid #F1FAEE;
    border-radius: 10px;

    font-size: 1.1em;
    font-weight: bolder;
    background-color: transparent;
    color: #F1FAEE;
}

.form-card__item input::placeholder{
    color: #F1FAEE;
}

.form-card__item--error{
    height: 20%;

    font-size: .9em;
    color: #7f0000;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card__item--error,.form-card__item--redirect p{
    margin: 0;
    padding: 0;
    
    text-align: center;
    font-weight: bolder;
}

.form-card__item--send{
    height: 25%;
}

.form-card__item--send button{
    width: 150px;
    height: 50px;

    outline: none;
    border: solid;
    border-radius: 10px;

    font-size: 1.1em;
    font-weight: bolder;

    color: #F1FAEE;
    background-color: #1D3557;

    cursor: pointer;
}