.not-found{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-image: url('../../static/blueLandscape.jpg');
    background-size: cover;
}

.not-found__return{
    padding: 5px;

    position: absolute;
    top: 0;
    left: 0;
}

.not-found__info{
    width: 100%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 81, .7);
}

.not-found__code, .not-found__message{
    color: #F1FAEE;
    text-align: center;
}

.not-found__return button{
    width: 150px;
    height: 50px;

    outline: none;
    border: solid;
    border-radius: 10px;

    font-size: 1.1em;
    font-weight: bolder;

    color: #F1FAEE;
    background-color: #1D3557;

    cursor: pointer;
}

.rubberBand {
animation: rubberBand 2s infinite;
}

@keyframes rubberBand {
    0% {transform: scale(1);}
    30% {transform: scaleX(1.25) scaleY(0.75);}
    40% {transform: scaleX(0.75) scaleY(1.25);}
    60% {transform: scaleX(1.15) scaleY(0.85);}
    100% {transform: scale(1);}
}
