.home{
    width: 100%;
    padding: 20px 0 20px;

    box-sizing: border-box;

    background-color: crimson;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__trends,.home__user-list{
    width: 90%;
    margin-top: 50px;
}