.register{
    padding: 20px 0;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, rgba(69,123,157,1) 20%, rgba(40,171,185,1) 80%);
}